*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: lightslategray;
}

br{
    margin-bottom: 15px;
}


.top-link{
    display: block;
    width: 200px;
    margin-bottom: 15px;
}
header, 
.item-pendaftar, 
.action-link {
    width: 400px;
    padding: 15px;
    margin: auto;
    background-color: lightcyan;
}
.item-pendaftar img{
    width: 150px;
    height: 230px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
}

.deskripsi-pendaftar{
    width: 230px;
    float: left;
}

.clear-fix {
    clear: both;
}

.value{
    font-weight: normal;
    margin-bottom: 13px;
}

.action-link{
    padding-top: 0;
    border-bottom: 1px solid darkgray;
}

.item-pendaftar{
    padding-bottom: 0;
    
}

main{
    width: 500px;
    background-color: white;
    padding: 15px;
    margin: auto;

}
.display-block,
input[type='submit']{
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

input, label, select,textarea{
    font-family: sans-serif;
    font-size: 16px;
}

input, select{
    padding: 3px;

}

ul li {
    list-style: none;
    padding-left: 20px;
}

main h2 {
    margin-bottom: 20px;
}

main h1 {
    margin-bottom: 7px;
}

.img-before {
    width: 300px;
  }

.error-messege{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    margin-bottom: 10px;
}